@charset "UTF-8";
/* Stillingar */
:root {
  --font-size-base: 16px;
  --font-size-headings: 1.5rem;
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;
  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space: calc(var(--gutter) * 1);
  --vertical-space-large: calc(var(--gutter) * 1.5);
  /* Hámarks og lágmarks breidd á efni */
  --max-width: 1200px;
  --min-width-image: 200px;
  --max-width-image: 300px;
  --max-width-footer-section: 250px;
  /* Border breiddir */
  --border-width: 1px;
  --border-radius-regular: 5px;
  --border-radius-image: 10px;
  --border-regular: 1px solid var(--color-yellow-font); /* todo longhand */
  --border-with-background: 4px solid #c9b;
  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space:calc(($gutter) * 1);
  --vertical-space-large:calc(($gutter) * 1.5);
  /* Breidd á efni með offset */
  --width-offset: calc(100% - (2 * var(--offset)));
  /* Menu */
  --menu-icon-width: 20px;
  --menu-icon-height: 13px;
  /** Litir með nafni **/
  --color-yellow: #E3CDB1;
  --color-white: #fff;
  --color-black: #000;
  --color-gray-light: #e7e7e7;
  --color-gray: #9b9b9b;
  --color-gray-lighter: #d6d6d6;
  --color-dark-gray:#9B9B9B;
  --color-off-white:#fafafa;
  --color-beige:#f7f1eb;
  --color-brown:#e3cdb1;
  --color-D0-gray: #D0D0D0;
  --color-5E-gray: #5E5B69;
  /** Litir með notkun **/
  --color-background-primary: var(--color-off-white);
  --color-background-off-white:var(--color-off-white);
  --color-background-card: var(--color-white);
  --color-yellow-font: var(--color-yellow);
  --color-gray-font: var(--color-gray);
  --color-newletter-background: var(--color-black);
  --color-footer-bottom-text: var(--color-gray-lighter);
  --color-brown-text: var(--color-brown);
  --color-background-announcement: var(--color-beige);
  --color-light-gray-text: var(--color-light-gray);
  --color-dark-gray-text: var(--color-dark-gray);
  --color-darker-gray-text: var(--color-darker-gray);
  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-small-size: 12px;
  --font-footer-size: 14px;
  --font-family-base: "Poppins", arial, helvetica, sans-serif;
  --font-family-heading: "Playfair_Display", "Comic Sans MS", cursive;
  /* Transitions */
  --transition-time-short: 300ms;
  --transition-time-long: 600ms;
  --transition-timing-function: ease-in-out;
  /* button stillingar */
  --button-width: 190px ;
}

footer .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: calc(2 * var(--spacing));
  margin-bottom: calc(2 * var(--spacing));
}

footer .content p {
  font-size: var(--font-footer-size);
}

footer .content .bottom-text {
  color: var(--color-footer-bottom-text);
}

footer > .content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

footer .social-icons {
  display: flex;
  flex-direction: row;
  color: var(--color-footer-bottom-text);
  gap: 15px;
  margin-top: calc(1.5 * var(--spacing));
  margin-bottom: calc(1.5 * var(--spacing));
}
footer .social-icons:hover {
  color: var(--color-background-primary);
}

footer .circle {
  border: 2px solid var(--color-footer-bottom-text);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  /* Flexbox to center the icons inside the circle */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-time-short) var(--transition-timing-function), color var(--transition-time-short) var(--transition-timing-function), border-color var(--transition-time-short) var(--transition-timing-function);
}

footer .circle:hover {
  background-color: var(--color-footer-bottom-text);
}

footer .circle a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

footer .circle i {
  font-size: 18px; /* icon size */
  color: var(--color-footer-bottom-text);
}

footer .circle:hover i {
  color: var(--color-background-primary);
  transition: background-color var(--transition-time-short) var(--transition-timing-function), color var(--transition-time-short) var(--transition-timing-function), border-color var(--transition-time-short) var(--transition-timing-function);
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar {
  width: 100%;
  height: 62px;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}
.navbar__logo img {
  height: 16.92px;
  width: 90px;
}
.navbar__menu-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 13px;
  transition: all 0.3s var(--transition-timing-function);
}
.navbar__menu-toggle span {
  background-color: #000;
  height: 1px;
  width: 100%;
  display: block;
  transition: all 0.3s var(--transition-timing-function);
}
.navbar__menu-toggle.is-open span {
  position: absolute;
  width: 20px;
}
.navbar__menu-toggle.is-open span:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: center;
}
.navbar__menu-toggle.is-open span:nth-child(2) {
  opacity: 0;
}
.navbar__menu-toggle.is-open span:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: center;
}
.navbar__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}
.navbar__menu li {
  padding: 10px 20px;
  margin: 0 50px;
  background-color: var(--color-background-off-white);
  flex-grow: 1;
  text-align: center;
  border-bottom: 1px solid var(--color-brown);
}
.navbar__menu li a {
  color: #000;
  font-family: var(--font-family-heading);
  font-size: 60px;
  font-weight: 700;
  text-decoration: none;
  padding: var(--spacing);
  display: block;
}
.navbar__menu li:last-child {
  border-bottom: none;
}
@media (min-width: 900px) {
  .navbar {
    margin-top: var(--spacing);
    padding-left: 155px;
    padding-right: 155px;
  }
  .navbar__logo img {
    width: 133px;
    height: 25px;
    min-height: 25px;
  }
  .navbar__menu-toggle {
    display: none;
  }
  .navbar__menu {
    display: flex;
    flex-direction: row;
  }
  .navbar__menu li {
    padding: 0;
    margin: 0 10px;
    background-color: var(--color-background-primary);
    border-bottom: none;
  }
  .navbar__menu li a {
    font-family: var(--font-family-base);
    font-size: 20px;
    line-height: normal;
    font-weight: normal;
  }
  .navbar__menu li:nth-child(1) {
    border-bottom: none;
  }
}

.menu-open .navbar__menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: var(--color-background-primary);
  width: 100%;
  text-align: center;
}

@media (min-width: 900px) {
  .navbar {
    margin-top: 1rem;
    padding-left: 155px;
    padding-right: 155px;
  }
  .navbar__logo img {
    width: 133px;
    height: 25px;
  }
  .navbar__menu-toggle {
    display: none;
  }
  .navbar__menu {
    display: flex;
    flex-direction: row;
  }
  .navbar__menu li {
    margin: 10px;
    background-color: #ffffff;
  }
  .navbar__menu li a {
    font-size: 20px;
    line-height: normal;
    font-weight: normal;
  }
  .navbar__menu li:nth-child(1) {
    display: none;
  }
}
/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  /* Notum grid hér til að setja upp bil á milli header, meginmáls og fóts */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  /* grid items eru miðjuð */
  justify-items: center;
  gap: var(--vertical-space);
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background-primary);
}

.wrapper .wrapper-content {
  width: var(--width-offset);
  max-width: var(--max-width);
}

@media (width >= 500px) {
  .wrapper {
    gap: var(--vertical-space-large);
  }
  .wrapper .wrapper-content .wrapper-cards {
    display: grid;
    gap: var(--gutter);
  }
}
@media (width >= 900px) {
  .wrapper {
    gap: var(--vertical-space-large);
  }
  .wrapper .wrapper-content .wrapper-cards {
    display: grid;
    gap: var(--gutter);
  }
}
.wrapper-newsletter {
  width: 100%;
  max-width: none;
  margin-right: 0;
  margin-left: 0;
}

.wrapper-header {
  width: 100%;
}

.spacing-div {
  margin-top: calc(var(--spacing) * 13);
}

.want-some-action {
  display: none;
}
@media (min-width: 700px) {
  .want-some-action {
    display: block;
  }
}

.all-the-news {
  text-align: center;
}
@media (min-width: 700px) {
  .all-the-news {
    display: none;
  }
}

/** Letur og stærðir **/
/*** Grunnstærð er 16px ***/
html {
  font-size: var(--font-size-base);
}

/** Leturgerðir **/
@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Poppins/Poppins-regular.ttf") format("woff2");
}
@font-face {
  font-family: Playfair_Display;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("woff2");
}
/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background-primary);
}

/* og látum erfast á allt */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
/** Litur á hlekkjum erfist frá foreldri **/
a {
  color: inherit;
}

/*** ATH þarf orugglega eh að breyta ***/
/*** Allar fyrirsagnir nota  Playfair_Display***/
h1,
h2,
h3,
legend {
  font-family: var(--font-family-heading);
}

/*** Allt meginmál notar Poppins ***/
html,
input,
select,
p,
button,
label {
  font-family: var(--font-family-base);
}

/** button eins allsstaðar **/
button {
  border: var(--border-regular);
  padding: var(--spacing);
  width: var(--button-width);
  background-color: var(--color-background-primary);
  color: var(--color-yellow-font);
  margin: var(--spacing);
  transition: background-color var(--transition-time-short) var(--transition-timing-function), color var(--transition-time-short) var(--transition-timing-function), border-color var(--transition-time-short) var(--transition-timing-function);
}
button:hover {
  background-color: var(--color-brown);
  color: var(--color-white);
}

label {
  font-size: var(--font-small-size);
}

.newsletter {
  display: flex;
  width: 100%;
  background-color: var(--color-newletter-background);
  margin-top: calc(3 * var(--spacing));
  padding: var(--spacing);
  padding-top: calc(3 * var(--spacing));
  padding-bottom: calc(3 * var(--spacing));
}

.newsletter > .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.newsletter > .content section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: centeR;
}

.newsletter h2,
.newsletter label {
  color: white;
  padding: 0;
  margin: 0;
}

.newsletter h2 {
  font-size: 20px;
}

.newsletter p {
  color: var(--color-yellow-font);
  font-size: var(--font-small-size);
  padding: 0;
  margin: 0;
}

.newsletter button {
  background-color: var(--color-newletter-background);
}
.newsletter button:hover {
  background-color: var(--color-yellow-font);
  color: black;
}

.newsletter form {
  border: none;
  border-color: var(--color-newletter-background);
  margin-top: calc(2 * var(--spacing));
}

.newsletter form .content {
  display: flex;
  flex-direction: column;
}

.newsletter form input {
  display: block;
  background: none;
  border: black;
  border-bottom: var(--border-regular);
  font-size: 16px;
  font-family: var(--font-family-heading);
  margin-bottom: var(--spacing);
}

.newsletter form input::placeholder {
  color: white;
  opacity: 1;
}

.newsletter form label {
  display: block;
  font-family: var(--font-family-base);
}

@media (min-width: 800px) {
  .newsletter > .content section {
    display: block;
    margin: var(--spacing);
  }
  .newsletter > .content {
    display: flex;
    flex-direction: row;
  }
  .newsletter form {
    margin: 0;
  }
}
footer .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: calc(2 * var(--spacing));
  margin-bottom: calc(2 * var(--spacing));
}

footer .content p {
  font-size: var(--font-footer-size);
}

footer .content .bottom-text {
  color: var(--color-footer-bottom-text);
}

footer > .content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

footer .social-icons {
  display: flex;
  flex-direction: row;
  color: var(--color-footer-bottom-text);
  gap: 15px;
  margin-top: calc(1.5 * var(--spacing));
  margin-bottom: calc(1.5 * var(--spacing));
}
footer .social-icons:hover {
  color: var(--color-background-primary);
}

footer .circle {
  border: 2px solid var(--color-footer-bottom-text);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  /* Flexbox to center the icons inside the circle */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-time-short) var(--transition-timing-function), color var(--transition-time-short) var(--transition-timing-function), border-color var(--transition-time-short) var(--transition-timing-function);
}

footer .circle:hover {
  background-color: var(--color-footer-bottom-text);
}

footer .circle a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

footer .circle i {
  font-size: 18px; /* icon size */
  color: var(--color-footer-bottom-text);
}

footer .circle:hover i {
  color: var(--color-background-primary);
  transition: background-color var(--transition-time-short) var(--transition-timing-function), color var(--transition-time-short) var(--transition-timing-function), border-color var(--transition-time-short) var(--transition-timing-function);
}

/** Card **/
.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  /*width: calc(100%/3 - var(--spacing));*/
  background-color: var(--color-background-card);
  margin-bottom: var(--spacing);
}

.card img {
  width: 100%;
}

.card > .content img {
  display: block;
  /*border-top-left-radius: var(--border-radius-regular);
  border-top-right-radius: var(--border-radius-regular);*/
  width: 100%;
  height: 290px;
  object-fit: cover;
  object-position: 50% 50%;
}

.card > .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  border-top: 0;
  border-bottom-left-radius: var(--border-radius-regular);
  border-bottom-right-radius: var(--border-radius-regular);
}

/**
    * notum nýja selectora! brotið niður
    * .card            <- veljum öll .card
    * :not(            <- nema, við viljum ef _ekki_...
    *   :has(> .image) <- .image sem strangt barn .card
    * )                <- endir á :not()
    * > .content       <- sem er strax barn af .card
    * Þ.e.a.s. fyrir .card sem hefur ekki .image, setja border + radíus á allt .content
    */
/*
.card:not(:has(> .image)) > .content {
  border: var(--border-regular);
}
  */
.card > .content > .text {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  color: var(--color-gray);
  flex: 1;
}

.card > .content > .text > section {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing);
}

.card > .content > .text > p {
  font-size: var(--font-small-size);
  color: var(--color-gray-font);
}

.card > .content > .text > section > .special-text {
  font-family: "Playfair_Display";
  color: var(--color-black);
  font-size: 18px;
}

.card > .content > .text > section > a {
  color: var(--color-yellow);
  text-decoration: none;
  font-size: 14px;
  margin-bottom: auto;
  margin-top: auto;
}

/** Cards **/
.cards {
  display: block;
  width: 100%;
  color: var(--color-gray);
  /*
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3fr;
  gap: var(--vertical-space); 
  justify-items: center;
  width: 100%; */
}

.cards > .title {
  width: 100%;
  text-align: center;
}

.cards > .content {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 3fr;
  gap: var(--vertical-space);
  width: 100%;
}

.cards > form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards > .content-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

/* Sérstakur header fyrir recipes síðu*/
.cards > .content-title > .recipes-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.cards > .content-title > .recipes-title label {
  margin-left: auto;
  font-size: 22px;
  font-family: var(--font-family-heading);
  display: flex;
  align-items: center;
}

.cards > .content-title > .recipes-title label input {
  margin-right: var(--spacing);
}

.cards > .content-title > .recipes-title h1 {
  font-size: 60px;
}

/* Litur fyrir "Check out our" */
.cards > .content-title > h2 > .part1 {
  color: var(--color-gray);
}

.cards > .content-title > h2 > .part2 {
  color: var(--color-black);
}

.cards p {
  color: var(--color-yellow);
  font-size: var(--font-small-size);
}

@media (width >= 500px) {
  .cards > .content-title {
    align-items: start;
    font-size: 20px;
  }
  .cards > .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gutter);
    width: auto;
  }
}
@media (width >= 900px) {
  .cards > .content-title {
    align-items: start;
  }
  .cards > .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    gap: var(--gutter);
    width: auto;
  }
}
.announcement-section {
  background-color: var(--color-background-announcement);
  position: relative;
  width: 100%;
}
.announcement-section .announcement-time {
  display: none;
}
.announcement-section .book-out {
  font-weight: 700px;
  font-size: 32px;
  text-align: center;
  letter-spacing: -1px;
}
.announcement-section .announcement-text {
  font-size: var(--font-base-size);
  color: var(--color-darker-gray-text);
  line-height: 24px;
  text-align: center;
}
.announcement-section .go-to-store-button {
  text-align: center;
}
.announcement-section .go-to-store-button .button {
  padding: 0;
  margin: 0;
  margin-top: var(--spacing);
  width: 191px;
  height: 42px;
  color: var(--color-brown-text);
  border-color: var(--color-brown-text);
  background-color: var(--color-background-announcement);
}
.announcement-section .go-to-store-button .button:hover {
  background-color: var(--color-brown);
  color: var(--color-white);
}
.announcement-section .see-more-button {
  text-align: center;
  display: none;
}
.announcement-section .see-more-button .button {
  padding: 0;
  margin: 0;
  margin-top: var(--spacing);
  width: 191px;
  height: 42px;
  color: var(--color-brown-text);
  border-color: var(--color-brown-text);
  background-color: var(--color-background-announcement);
}
.announcement-section .see-more-button .button:hover {
  background-color: var(--color-brown);
  color: var(--color-white);
}
.announcement-section .announcement-right {
  position: relative;
  display: block;
}
.announcement-section .announcement-right .yam-image {
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: calc(var(--spacing) * 5);
  margin-bottom: -140px;
}
.announcement-section .announcement-right .yam-image img {
  width: 205px;
  position: relative;
  z-index: 1;
}
.announcement-section .announcement-right .yam-image .shadow {
  position: absolute;
  left: 47%;
  top: 15px;
  max-width: 205px;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  filter: blur(10px);
  z-index: 0;
  border-radius: var(--border-radius-regular);
}
@media (min-width: 700px) {
  .announcement-section .announcement-time {
    display: block;
    text-align: left;
    color: var(--color-brown-text);
    margin-bottom: 0;
  }
  .announcement-section .book-out {
    text-align: left;
    margin-bottom: var(--spacing);
    font-size: 40px;
  }
  .announcement-section .book-out h2 {
    margin: 0;
  }
  .announcement-section .announcement-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .announcement-section .announcement-wrapper .announcement-left {
    margin: calc(var(--spacing) * 4);
  }
  .announcement-section .announcement-text {
    line-height: normal;
    padding: 0;
  }
  .announcement-section .go-to-store-button {
    display: none;
  }
  .announcement-section .go-to-store-button .button {
    display: none;
  }
  .announcement-section .see-more-button {
    text-align: left;
    display: block;
  }
  .announcement-section .announcement-right .yam-image img {
    width: 440px;
  }
  .announcement-section .announcement-right .yam-image .shadow {
    max-width: 440px;
  }
}

.intro {
  background-color: var(--color-background-off-white);
  position: relative;
  width: 100%;
}
.intro .pumpkin-img {
  position: relative;
  width: 100%;
  height: 490px;
  overflow: hidden;
}
.intro .pumpkin-img img {
  width: 622.28px;
  height: 935.2px;
  object-fit: cover;
  object-position: center;
  transform: translateY(-40px);
  z-index: 1;
}
.intro .pumpkin-img .shadow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-25%, -24%);
  width: 550px;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.2);
  filter: blur(20px);
  z-index: 0;
  border-radius: 50%;
}
.intro .pumpkin-text-wrapper {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-brown-text);
  text-align: center;
}
.intro .pumpkin-text-wrapper .pumpkin-text-heading {
  color: var(--color-black);
  font-size: 20px;
  font-weight: 700px;
}
.intro .pumpkin-text-wrapper .pumpkin-text-blurb {
  display: none;
  color: var(--color-black);
}
.intro .pumpkin-text-wrapper .see-more-button {
  text-align: center;
}
.intro .pumpkin-text-wrapper .see-more-button .button {
  padding: 0;
  margin: 0;
  margin-top: var(--spacing);
  width: 191px;
  height: 42px;
  color: var(--color-brown-text);
  border-color: var(--color-brown-text);
  background-color: transparent;
}
.intro .pumpkin-text-wrapper .see-more-button .button:hover {
  background-color: var(--color-brown);
  color: var(--color-white);
}
@media (min-width: 700px) {
  .intro .pumpkin-img img {
    top: 50%;
    left: 50%;
    transform: translate(50%, -10%);
  }
  .intro .pumpkin-img .shadow {
    transform: translate(0%, -30%);
  }
  .intro .pumpkin-text-wrapper {
    text-align: left;
    transform: translate(-100%, -50%);
  }
  .intro .pumpkin-text-wrapper .pumpkin-text-heading {
    padding-bottom: var(--spacing);
  }
  .intro .pumpkin-text-wrapper .pumpkin-text-blurb {
    display: block;
  }
  .intro .pumpkin-text-wrapper .see-more-button {
    text-align: left;
  }
}
@media (min-width: 1000px) {
  .intro .pumpkin-img img {
    top: 50%;
    left: 50%;
    transform: translate(90%, -10%);
  }
  .intro .pumpkin-img .shadow {
    transform: translate(0%, -32%);
  }
}

.hero-section {
  display: flex;
  align-items: center;
  background-image: url(myndir/ingredients-table.png);
  background-size: cover;
  height: 600px;
  position: relative;
}
.hero-section::before {
  /*Skuggi yfir mynd*/
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--color-black) 40%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}
.hero-section .play-button {
  position: absolute;
  right: 30%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}
.hero-section .play-button img {
  width: 120px;
  height: 120px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding-left: 60px;
  align-items: center;
  position: relative;
  z-index: 2; /*Texti yfir skugga*/
}

.hero-content h1 {
  color: var(--color-white);
}

.hero-content p {
  color: var(--color-dark-gray);
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.hero-text > .hero-p {
  display: flex;
  gap: var(--spacing);
}

.method {
  display: flex;
  gap: var(--spacing);
}

.method-ingredients {
  width: 50%;
}

.method-ingredients h2 {
  color: var(--color-D0-gray);
  padding-bottom: 20px;
}

.method-ingredients ul {
  list-style: none;
  color: var(--color-dark-gray);
  padding-bottom: 20px;
}

.method-ingredients span {
  margin-right: 20px;
  font-family: var(--font-family-heading);
  color: var(--color-brown);
  font-size: 30px;
}

.method-content h2 {
  color: var(--color-D0-gray);
  padding-bottom: 20px;
}

.method-content p {
  color: var(--color-5E-gray);
}

/*# sourceMappingURL=styles.css.map */
