@charset "UTF-8";
/* Stillingar */
/* Grunn bilið okkar er 1rem == 16px */
/* Grid stillingar */
/* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
/* Hámarks og lágmarks breidd á efni */
/* Border breiddir */
/* Menu */
/* Litir */
/** Litir með nafni **/
/** Litir með notkun **/
/* Letur stillingar */
/* Transitions */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar__logo img {
  min-height: 16.92px;
  max-height: 90px;
}
.navbar__menu-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 13px;
  transition: all 0.3s ease-in-out;
}
.navbar__menu-toggle span {
  background-color: #000000;
  height: 1px;
  width: 100%;
  display: block;
  transition: all 0.3s ease-in-out;
}
.navbar__menu-toggle.is-open span {
  position: absolute;
  width: 20px;
}
.navbar__menu-toggle.is-open span:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: center;
}
.navbar__menu-toggle.is-open span:nth-child(2) {
  opacity: 0;
}
.navbar__menu-toggle.is-open span:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: center;
}
.navbar__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}
.navbar__menu li {
  margin: 0;
  background-color: #fafafa;
  flex-grow: 1;
  text-align: center;
}
.navbar__menu li a {
  color: #000000;
  font-size: 60px;
  font-weight: 800;
  text-decoration: none;
  padding: 1rem;
  display: block;
}
@media (min-width: 700px) {
  .navbar {
    margin-top: 1rem;
    padding-left: 155px;
    padding-right: 155px;
  }
  .navbar__logo img {
    width: 133px;
    height: 25px;
  }
  .navbar__menu-toggle {
    display: none;
  }
  .navbar__menu {
    display: flex;
    flex-direction: row;
  }
  .navbar__menu li {
    margin: 10px;
    background-color: #ffffff;
  }
  .navbar__menu li a {
    font-size: 20px;
    line-height: normal;
    font-weight: normal;
  }
  .navbar__menu li:nth-child(1) {
    display: none;
  }
}

.menu-open .navbar__menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair-Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair-Display";
  font-weight: 700;
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair-Display";
  font-weight: 800;
  src: url("./fonts/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf") format("truetype");
}
/*** Allt meginmál notar poppins ***/
html,
input,
select,
button {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/*** Allar fyrirsagnir nota Playfair-Display ***/
h1,
h2,
h3,
legend {
  font-family: "Playfair-Display", "Comic Sans MS", cursive;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}

/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.announcement-section {
  background-color: #f7f1eb;
  position: relative;
  padding: 20px;
}
.announcement-section .announcement-time {
  display: none;
}
.announcement-section .book-out {
  font-weight: 700px;
  font-size: 32px;
  text-align: center;
  letter-spacing: -1px;
}
.announcement-section .announcement-text {
  font-size: 1rem;
  color: #5e5b69;
  line-height: 24px;
  text-align: center;
}
.announcement-section .go-to-store-button {
  text-align: center;
}
.announcement-section .go-to-store-button .button {
  width: 191px;
  height: 42px;
  color: #e3cdb1;
  border-color: #e3cdb1;
  background-color: #f7f1eb;
}
.announcement-section .go-to-store-button .button:hover {
  background-color: #e3cdb1;
  color: #ffffff;
}
.announcement-section .see-more-button {
  text-align: center;
  display: none;
}
.announcement-section .see-more-button .button {
  width: 191px;
  height: 42px;
  color: #e3cdb1;
  border-color: #e3cdb1;
  background-color: #f7f1eb;
}
.announcement-section .see-more-button .button:hover {
  background-color: #e3cdb1;
  color: #ffffff;
}
.announcement-section .announcement-right {
  position: relative;
  display: inline-block;
}
.announcement-section .announcement-right .yam-image {
  position: relative;
  text-align: center;
  display: block;
  margin-top: 5rem;
  margin-bottom: -140px;
}
.announcement-section .announcement-right .yam-image img {
  width: 205px;
  position: relative;
  z-index: 1;
}
.announcement-section .announcement-right .yam-image .shadow {
  position: absolute;
  left: -15px;
  top: 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  filter: blur(10px);
  z-index: 0;
  border-radius: 5px;
}
@media (min-width: 700px) {
  .announcement-section .announcement-time {
    display: block;
    text-align: left;
    color: #e3cdb1;
    margin-bottom: 0;
  }
  .announcement-section .book-out {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 40px;
  }
  .announcement-section .book-out h2 {
    margin: 0;
  }
  .announcement-section .announcement-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .announcement-section .announcement-wrapper .announcement-left {
    margin: 4rem;
  }
  .announcement-section .announcement-text {
    line-height: normal;
    padding: 0;
  }
  .announcement-section .go-to-store-button {
    display: none;
  }
  .announcement-section .go-to-store-button .button {
    display: none;
  }
  .announcement-section .see-more-button {
    text-align: left;
    display: block;
  }
  .announcement-section .announcement-right .yam-image img {
    width: 440px;
  }
}

/*# sourceMappingURL=styles.css.map */
