/* Stillingar */

:root {
  --font-size-base: 16px;
  --font-size-headings: 1.5rem;
  
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;
  
  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space: calc(var(--gutter) * 1);
  --vertical-space-large: calc(var(--gutter) * 1.5);
  
  /* Hámarks og lágmarks breidd á efni */
  --max-width: 1200px;
  --min-width-image: 200px;
  --max-width-image: 300px;
  --max-width-footer-section: 250px;
  
  /* Border breiddir */
  --border-width: 1px;
  --border-radius-regular: 5px;
  --border-radius-image: 10px;
  --border-regular: 1px solid var(--color-yellow-font); /* todo longhand */
  --border-with-background: 4px solid #c9b;
  
  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;

  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space: calc(($gutter) * 1);
  --vertical-space-large: calc(($gutter) * 1.5);
  
  /* Breidd á efni með offset */
  --width-offset: calc(100% - (2 * var(--offset)));

  /* Menu */
  --menu-icon-width: 20px;
  --menu-icon-height: 13px;
  
  /** Litir með nafni **/
  --color-yellow: #e3cdb1;
  --color-white: #fff;
  --color-black: #000;
  --color-gray-light: #e7e7e7;
  --color-gray: #9b9b9b;
  --color-gray-lighter: #d6d6d6;
  --color-dark-gray: #9b9b9b;
  --color-off-white: #fafafa;
  --color-beige: #f7f1eb;
  --color-brown: #e3cdb1;
  --color-verylight-gray: #d0d0d0;
  --color-darkergray-gray: #5e5b69;

  
  /** Litir með notkun **/
  --color-background-primary: var(--color-off-white);
  --color-background-off-white: var(--color-off-white);
  --color-background-card: var(--color-white);
  --color-yellow-font: var(--color-yellow);
  --color-gray-font: var(--color-gray);
  --color-newletter-background: var(--color-black);
  --color-footer-bottom-text: var(--color-gray-lighter);
  --color-brown-text: var(--color-brown);
  --color-background-announcement: var(--color-beige);
  --color-light-gray-text: var(--color-light-gray);
  --color-dark-gray-text: var(--color-dark-gray);
  --color-darker-gray-text: var(--color-darker-gray);

  
  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-small-size: 12px;
  --font-footer-size: 14px;
  --font-family-base: 'Poppins', arial, helvetica, sans-serif;
  --font-family-heading: 'Playfair_Display', 'Comic Sans MS', cursive;
  
  /* Transitions */
  --transition-time-short: 300ms;
  --transition-time-long: 600ms;
  --transition-timing-function: ease-in-out;

  /* button stillingar */
  --button-width: 190px;
}