.wrapper {
  /* Notum grid hér til að setja upp bil á milli header, meginmáls og fóts */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;

  /* grid items eru miðjuð */
  justify-items: center;
  gap: var(--vertical-space);
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background-primary);
}

.wrapper .wrapper-content {
  width: var(--width-offset);
  max-width: var(--max-width);
}

@media (width >= 500px) {
  .wrapper {
    gap: var(--vertical-space-large);
  }

  .wrapper .wrapper-content .wrapper-cards {
    display: grid;
    gap: var(--gutter);
  }
}


@media (width >= 900px) {
  .wrapper {
    gap: var(--vertical-space-large);
  }

  .wrapper .wrapper-content .wrapper-cards {
    display: grid;
    gap: var(--gutter);
  }
}

.wrapper-newsletter {
  width: 100%;
  max-width: none;
  margin-right: 0;
  margin-left: 0;
}


.wrapper-header {
  width: 100%;
}

.spacing-div {
  margin-top: calc(var(--spacing) * 13);
}

.want-some-action {
  display: none;

  @media (width >= 700px) {
    display: block;
  }
}

.all-the-news {
  text-align: center;

  @media (width >= 700px) {
    display: none;
  }
}

.see-more-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .button {
    margin-right: calc(var(--spacing) * 8);
    margin-left: calc(var(--spacing) * 8);
  }

  .line {
    flex-grow: 1;
    height: 1px;
    background-color: var(--color-gray-light);
  }
}